<ion-header>
  <ion-toolbar >
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2>We'd love to hear from you!</h2>
    <h3>Contact:</h3>
    <p><strong>Email:</strong> abs@gmail.com</p>
    <p><strong>Phone:</strong> +91 9000-000-007</p>
    <hr>
    <h3>Address:</h3>
    <p>81 Prospect St, Suite 9069,<br>
      Brooklyn, NY 11201</p>
  </ion-text>

</ion-content>
