<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-img src="../../assets/page.png"></ion-img>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-img src="../../assets/sale.png"></ion-img>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-img src="../../assets/account.png"></ion-img>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
