<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="!signedIn">
    <p class="login_warn">Login To view your Account Details.</p>
  </ion-text>
  <ion-button *ngIf="!signedIn"  type="button" class="login_btn"  size="default">Login</ion-button>

<div class="row" *ngIf="signedIn">
  <div class="col-xs-6 col-md-6 col-lg-6 img_col">
    <ion-img src="../../assets/person.png"></ion-img>
    <h3 class="name_text">{{user.name}}</h3>
  </div>
  <div class="col-xs-6 col-md-6 col-lg-6 det_col">
    <h3 class="detail">Details</h3>
    <h4 class="hd">Email</h4>
    <h3 class="vl">{{user.email}}</h3>
    <h4 class="hd">Mobile</h4>
    <h3 class="vl">{{user.mobile}}</h3>
    <h4 class="hd">City</h4>
    <h3 class="vl">{{user.city}}</h3>
    <h4 class="hd">Password</h4>
    <h3 class="vl">***********</h3>
    <h4 class="hd">Address</h4>
    <h3 class="vl" style="color:#667FEA;"><a routerLink="/address" style="text-decoration: none; outline: none;">Saved Addresses</a></h3>
    <button type="button" class="btn btn-outline-danger btn-lg btn-block" (click)="delete()">Delete Account</button>
<button type="button" class="btn btn-outline-warning btn-lg btn-block" (click)="logout()">Logout</button>
   <button type="button" class="btn btn-outline-success btn-lg btn-block">Edit Account</button>

  </div>
</div>

  
</ion-content>
