<ion-header>
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-text>
  <h3 >Welcome to <strong>Shopizee</strong></h3>
  <p class="head_text">Explore Us</p>
  </ion-text>
<div class="row">
  <div class="col-lg-6">
    <p style="text-align: center;"><ion-img src="../assets/delivery.png"></ion-img></p>
  </div>
  <div class="col-lg-6 btn_col">
    <ion-button type="submit" class="login_btn" expand="block" size="default" routerLink="/login">Login</ion-button>
    <p class="accnt"><a routerLink="/signup" >Sign Up</a></p>
  </div>
</div>
</ion-content>
