<ion-header>
  <ion-toolbar >
    <ion-title>Product Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" name="bubbles"></ion-spinner>

  <div class="row" *ngIf="!isLoading">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <ion-img src="{{product.image}}"></ion-img>
    </div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 detial_col">
      <h2>{{product.title}}</h2>
      <h1>${{product.price}}</h1>
      <hr style="  height: 0.5px; border-width: 0px; margin:0.1px">
      <p class="rating_row"><span class="rating_block">&#9733;{{product.rating}}</span>&nbsp;Very Good</p>
      <hr>
      <h3 class="des_head">Description</h3>
      <p class="des_content">{{product.details}}</p>
      <hr>
      <p class="des_content">Delivery within 6-7 days.</p>
      <hr class="add_cart_btn">
      <ion-button style="float: right; left:0% ; margin:0%"  type="button" class="login_btn add_cart_btn"  size="default" (click)="addCart()">Add to Cart</ion-button>
    </div>
  </div>

</ion-content>

<a (click)="addCart()" class="add_cart_footer" *ngIf="!isLoading">
<ion-footer>
  <ion-toolbar>
    <h3 style="text-align: center;">Add To Cart</h3>
  </ion-toolbar>
</ion-footer>
</a>