<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Featured</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-img src="../../assets/filter.png"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let items of x">
      <div class="featured-slide">
        <div class="featuredCard">
          <img class="card-img" src="{{items.image}}">
          <ion-card-content class="featured-card-content">
            <div class="details">
              <h1>{{items.title}}</h1>
              <p>£{{items.price}}</p>
            </div>
            <div class="buy" routerLink="/featured"><ion-icon name="eye"></ion-icon></div>
          </ion-card-content>
        </div>
      </div>
    </div>
  </div>  
</ion-content>
